
*{margin: 0;
padding: 0;
box-sizing: border-box;}

body {
    font-family: sans-serif;
    background-color: aqua;
    
}


/*Utilities*/

.flexin {display: flex;
justify-content: space-evenly;}

.debug {
    border: 1px dashed black;
    background-color: blueviolet;
}

.container {max-width: 1800px;
            margin: 0 auto;}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}


/*NO HOVER IMAGES*/

.back-groundimg1  {background-image: url(1.webp);}
.back-groundimg2  {background-image: url(2.webp);}
.back-groundimg3  {background-image: url(3.webp);}
.back-groundimg4  {background-image: url(4.webp);}
.back-groundimg5  {background-image: url(5.webp);}
.back-groundimg6  {background-image: url(6.webp);}

/* HOVER */

:hover.back-groundimg1  {background-image: url(1b.webp);}
:hover.back-groundimg2  {background-image: url(2b.webp);}
:hover.back-groundimg3  {background-image: url(3b.webp);}
:hover.back-groundimg4  {background-image: url(4b.webp);}
:hover.back-groundimg5  {background-image: url(5b.webp);}
:hover.back-groundimg6  {background-image: url(6b.webp);}

/*Colors
orange nav bar rgb(255,104,0)
black footer rgb(26,26,26)
*/

main{padding-top: 40px;
margin-bottom: 80px;}


nav {height: 40px;
background-color: rgb(255,104,0);
color: white;
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
position: fixed;
font-size: 12px;}

#logo {
    height: 40px;
    background-size: 15px;
}

article {
    margin-top: 70px;
    height: 500px;
    width: 350px;
    background-size: contain;
    display: inline-block;
    
}



footer{  height: 300px;
background-color: rgb(26,26,26)

}

.row {background-color: black;
    height: 100%;
    margin: 0 auto;
}




