
*{margin: 0;
padding: 0;
box-sizing: border-box;}

body {
    font-family: sans-serif;
    
}


/*Utilities*/

.flexin {display: flex;
justify-content: center;}

.debug {
    border: 1px dashed black;
    background-color: blueviolet;
}

.container {max-width: 1800px;
            margin: 0 auto;}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}


/*NO HOVER IMAGES*/

.back-groundimg1  {background-image: url(1.webp);}
.back-groundimg2  {background-image: url(2.webp);}
.back-groundimg3  {background-image: url(3.webp);}
.back-groundimg4  {background-image: url(4.webp);}
.back-groundimg5  {background-image: url(5.webp);}
.back-groundimg6  {background-image: url(6.webp);}

/* HOVER */

:hover.back-groundimg1  {background-image: url(1b.webp);}
:hover.back-groundimg2  {background-image: url(2b.webp);}
:hover.back-groundimg3  {background-image: url(3b.webp);}
:hover.back-groundimg4  {background-image: url(4b.webp);}
:hover.back-groundimg5  {background-image: url(5b.webp);}
:hover.back-groundimg6  {background-image: url(6b.webp);}

/*Colors
orange nav bar rgb(255,104,0)
black footer rgb(26,26,26)
*/

main{padding-top: 40px;
margin-bottom: 80px;}


nav {height: 40px;
background-color: rgb(255,104,0);
color: white;
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
position: fixed;
font-size: 12px;
z-index: 1;
padding: 0 100px}

.categorie {font-size: 12px;
font-weight: bold ;}

#logo {
    height: 25px;
    width: auto;
}

article {
    
    margin: 50px 10px 20px 10px;
    height: 500px;
    width: 350px;
    background-size: contain;
    display: inline-block;
    position: relative;

}

.row {
    height: 100%;
    margin: 0 0 0 0;
}

.span-red {position: absolute;
bottom:40px;
left:0px;
background-color: red;
}

.span-green {position: absolute;
    bottom:40px;
    left: 34px;
    background-color:green;
    }

.span-last-green {position: absolute;
    bottom:40px;
    left: 0px;
    background-color:green;
    }


footer{  
height: 100px;
background-color: rgb(26,26,26);
color:white;
display: flex;
justify-content: space-between;
align-items: center;
line-height: 140px;
line-height: 22px;
font-size: 14px;
padding:0 180px}

.marca{
position: absolute;
left:0;
top:100%;
font-size: 12px;}

.prodotto{
position: absolute;
left:0;
top:103%;}

.prezzo{
position: absolute;
left:0;
top:107%;
color:red}

del {color: black;}



:hover.cuoricino {
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 90%;
    background-color: white;
    color: red;}

.cuoricino {
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 90%;
    background-color: white;
}


